trigger:
  - main

pool:
  name: KaliPool

steps:
- checkout: self

- script: |
    echo "Build step - copying files"
    mkdir -p build
    shopt -s extglob
    cp -r !(build) build/
  displayName: "Build Project"

- script: |
    echo "Running tests..."
    exit 0
  displayName: "run-tests"

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: 'build'
    artifactName: 'webapp'
    publishLocation: 'Container'
  displayName: "Publish Artifacts"

- task: SSH@0
  displayName: "Deploy to Linux Server"
  inputs:
    sshEndpoint: myLinuxVM   # using username + password
    runOptions: 'inline'
    inline: |
      echo "Starting Deployment..."
      mkdir -p ~/deployments/previous
      mkdir -p ~/deployments/current
      if [ -d ~/deployments/current ]; then
          cp -r ~/deployments/current/* ~/deployments/previous/
      fi
      cp -r build/* ~/deployments/current/
      echo "Deployment success"

- script: |
    if [ $? -ne 0 ]; then
      echo "Rollback triggered"
      cp -r ~/deployments/previous/* ~/deployments/current/
      echo "Rollback complete"
    fi
  displayName: "Rollback Logic"
